//creates form to login
<form action="/users/login" method="POST">
    //inputs username
    <input type="text" name="name" placeholder="Username" required>
    //inputs password
    <input type="password" name="password" placeholder="Password" required>
    //submits 
    <button type="submit">Login</button>
  </form>
  