//creates form to register
<form action="/users/register" method="POST">
    //asks for username
    <input type="text" name="name" placeholder="Username" required>
    //asks for passwords
    <input type="password" name="password" placeholder="Password" required>
    //submission button
    <button type="submit">Register</button>
  </form>